.remedies-bg{
  background-image: url("../../assets/remedies/remediesbg.png");
  background-repeat: no-repeat;
  background-size: cover; 
  height: 90vh;
}
.remedies-bg h1{
  color:#143566;
  padding: 20px;
  font-size: 35px;
}
.remedies-bg p{
  text-align: center;
  padding-top: 150px;
  font-weight: 700;
  font-size: 30px;
}
.remedies-bg img{
  text-align: center;
  margin:0;
  padding: 0 ;
}
.remedies-imgdiv{
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.dremedies-bg{
  background-image: url("../../assets/remedies/remediesdispl.png");
  background-repeat: no-repeat;
  height: 100vh;
}
.dremedies-bg h1{
  color:#143566;
  padding: 20px;
  font-size: 35px;
}
.dremedies-h{
  color:#016C4D;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  font-size: 20px;
}
.dremedies-b1{
  text-align: center;
  font-weight: 800;
  padding: 40px;
  font-size: 20px;
}
.dremedies-b2{
  font-weight: 700;
  color: black;
  padding: 40px;
  font-size: 15px;
}
.dremedies-box{
  width: 65%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  border: 47px solid #D1D1D1;
  background: #FFFCFC;
}
.dremedies-btn{
  border-radius: 20px;
  padding: 15px;
  background: #32C0D4;
  border: 1px solid #32C0D4;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  right: 10px;
}
.dremedies-btncontainer{
  position: relative;
  width: 100%;
  padding: 20px;
}
@media (max-width: 1000px){
  .dremedies-b1{
    text-align: center;
    font-weight: 800;
    padding: 20px;
    font-size: 15px;
  }
  .dremedies-b2{
    font-weight: 800;
    padding: 20px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .dremedies-box {
    width: 95%;
    max-width: none; /* Remove maximum width for smaller screens */
  }

  .dremedies-btn {
    position: static; /* Remove absolute positioning for better flow on smaller screens */
    margin-top: 10px; /* Add margin for better spacing */
    right: 0;
  }
  .dremedies-h{
    color:#016C4D;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 20px;
  }
  .dremedies-b1{
    text-align: center;
    font-weight: 800;
    padding: 20px;
    font-size: 15px;
  }
  .dremedies-b2{
    font-weight: 800;
    padding: 20px;
    font-size: 15px;
  }
}
